body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  margin: 0px auto;
  width: 80%;
}

header {
  background-image: url('http://lotusvibes.org/wp-content/uploads/2014/08/Workshops.jpg');
  background-repeat: no-repeat;
  background-size: cover;
/*  background-position: -150px;
*/  overflow: hidden;
  color: white;
  height: 350px;
  margin-bottom: 6%;
}

.text {
  display: inline-block;
  padding-top: 8%;
  padding-left: 10%;
  text-align: center;
}

.text h1 {
  font-weight: normal;
  font-size: 100px;
  margin: 0px;
  margin-bottom: 5%;
  color: white;
  text-shadow: 1px 1px 15px #2e192a;
}

.text h1 a {
  color: white;
  text-decoration: none;
}

.text h1 a:hover {
  color: #d3cee5;
  transition: .2s ease-in-out;
}

/*.text p {
  font-weight: normal;
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 15px #2e192a;
}*/

header nav a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 15px #2e192a;
  display: inline-block;
  font-weight: lighter;
  font-size: 25px;
  padding-right: 6%;
  border-right: 1px solid white;
  margin: 0px;
}

header nav a:last-child {
  padding-left: 6%;
  border: none;
}

header nav a:hover {
  color: #d3cee5;
  transition: .2s ease-in;
  cursor: pointer;
}

/*------- body ------------*/
.body {
  text-align: center;
  padding-bottom: 70px;
}

.homeText {
  border-top: 2px solid #bfbfbf;
  border-bottom: 2px solid #bfbfbf;
  padding: 10px 0px;
  margin-bottom: 1%;
}

#strong {
  width: 17%;
  margin-bottom: 3%;
}

h1 {
  font-weight: bold;
  color: #554387;
  font-size: 35px;
}

.stats {
  font-weight: normal;
}

h2 {
  font-weight: lighter;
  color: #554387;
}

.form {
  text-align: left;
  display: inline-block;
  width: 50%;
}

input {
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  display: block;
  padding: 5% 2%;
  width: 96%;
  margin-bottom: 2%;
  font-size: 24px;
  color: #554387;
}

input:focus {
  border: 1px solid #9475ea;
  outline: none;
}

.submit {
  background-color: #9475ea;
  color: white;
  padding: 5% 2%;
  margin: 0px;
  width: 100%;
}

.submit.blue {
  background-color: #14a076;
}

.submit.blue:hover {
  background-color: #118965;
}

.submit.red {
  background-color: #f10000;
}

.submit.red:hover {
  background-color: #b10000;
}

.submit.purp {
  background-color: #9475ea;
}

.submit.purp:hover {
  background-color: #554387;
}


.submit:focus {
  border: none;
}

.submit:hover {
  background-color: #554387;
  transition: .2s ease-in;
}

a.submit {
  border-radius: 10px;
  display: block;
  padding: 3% 1%;
  width: 30%;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 24px;
  text-decoration: none;
  margin: auto;
}

#timmer {
  font-weight: bold;
  color: #554387;
  font-size: 35px;
}

.workout {
  margin-top: 7%;
  margin-bottom: 4%;
  width: 70%;
}

#save_workout input{
  text-align: center;
  margin: auto;
  padding: 3% 1%;
  width: 32%;
  margin-bottom: 2%;
}

.workout_list {
  margin: 3% 1%;
  width: 40%;
  cursor: pointer;
}

.workout_show {
  width: auto;
  max-height: 500px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  margin: 2% auto;
}

#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
/*    z-index: 1;
*/    background-color:rgba(0, 0, 0, 0.7); 
    text-align:center;
    display: none;
}

#time_change {
  margin-top: 4%;
  margin-bottom: 9%;
  text-align: center;
  display: inline-block;
  width: 50%;
  scale: .7;
  transform: scale(0.9);
}

#time_change input {
  width: 30%;
  display: inline-block;
  text-align: center;
}

#time_change .submit {
  width: 45%;
}

#time {
  /*display: none;*/
}

#done {
  margin-top: 2%;
}

/*-------- Media Queries -------------*/





@media (max-width: 850px) {
  header {
    background-size: cover;
    background-position: -30px;
    height: 250px;
  } 

  .text h1 {
    font-size: 70px;
  }

  header nav a {
    font-size: 20px;
  }

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 23px;
  }

  input {
    font-size: 20px;
  }

  a.submit {
    font-size: 20px;
  }

  #timmer {
    font-size: 30px;
  }


  #strong {
    width: 20%;
    margin-bottom: 3%;
  }
}




@media (min-width: 850px) {
  header {
    background-size: cover;
    background-position: -200px;
  }

  h1 {
    font-size: 33px;
  }

  h2 {
    font-size: 23px;
  }

  input {
    font-size: 23px;
  }

  a.submit {
    font-size: 23px;
  }

  #timmer {
    font-size: 33px;
  }

}



@media (min-width: 1030px) {
  header {
    background-size: cover;
    background-position: 0px;
    height: 350px;
  } 

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  input {
    font-size: 27px;
  }

  a.submit {
    font-size: 27px;
  }

  #timmer {
    font-size: 40px;
  }


}




@media (min-width: 1450px) {
  header {
    height: 400px;
  }

  .text {
    padding-top: 6%;
  }

  .text h1 {
    font-size: 120px;
  }

  header nav a {
    font-size: 35px;
    padding-right: 6%;
  }

  /*------- body ------------*/
  .homeText {
    padding: 12px 0px;
  }

  h1 {
    font-size: 45px;
  }


  h2 {
    font-size: 35px;
  }

  input {
    font-size: 30px;
  }

  .submit {
    font-size: 30px;
  }

  a.submit {
    border-radius: 15px;
    font-size: 30px;
  }

  #timmer {
    font-size: 45px;
  }

  #workout {
    width: 60%;
  }

  #save_workout input{
    border-radius: 15px;
    font-size: 30px;
  }

}


@media (min-width: 1800px) {
  header {
    height: 500px;
  }

  .text {
    padding-top: 5%;
  }

  .text h1 {
    font-size: 140px;
  }

  header nav a {
    font-size: 42px;
  }

  /*------- body ------------*/
  .homeText {
    padding: 13px 0px;
  }

  h1 {
    font-size: 55px;
  }


  h2 {
    font-size: 44px;
  }

  input {
    font-size: 37px;
  }

  .submit {
    font-size: 37px;
  }

  a.submit {
    border-radius: 16px;
    font-size: 37px;
  }

  #timmer {
    font-size: 55px;
  }


  #save_workout input{
    border-radius: 16px;
    font-size: 37px;
  }

}



@media (min-width: 2100px) {
  header {
    height: 600px;
  }

  .text {
    padding-top: 6%;
  }

  .text h1 {
    font-size: 160px;
  }

  header nav a {
    font-size: 42px;
  }

  /*------- body ------------*/
  h1 {
    font-size: 60px;
  }


  h2 {
    font-size: 49px;
  }

  input {
    font-size: 40px;
  }

  .submit {
    font-size: 40px;
  }

  a.submit {
    border-radius: 17px;
    font-size: 40px;
  }

  #timmer {
    font-size: 60px;
  }


  #save_workout input{
    border-radius: 17px;
    font-size: 40px;
  }

}