<h1>Hello <%= @user.username %>, here is your profile.</h1>
<br>


<div class='homeText'>
  <h2>Below is your total time working out</h2>
</div>

<h1 class="stats">30min</h1>
<br>

<br><br><br><br>

<div class='homeText'>
  <h2>Below is a list of all the workouts you have done!</h2>
</div>

