<h1>Hello <%= @user.username %>, welcome to your profile.</h1>
<br>
<div class='homeText'>
  <h2>If desired change the countdown time here</h2>
</div>
<form id='time_change' action='/time' method='post'>
	  <input type="text" name="time" placeholder="countdown"></input>
	  <input class='submit' type="submit" value="Change">
</form>
<br><br>

<div class='homeText'>
  <h2>Here are your workouts</h2>
</div>
<% @workouts.each do |workout| %>
	<img class='workout_list' src=<%= workout.url %>>
	</img>
<% end %>


<div id="lightbox"></div>