<br>
<img class='workout' src= <%= @workout.url %>></img>

<form id='save_workout' action="/workout/new" method="post">
	<input type="hidden" name="workout" value=<%= @workout.id %>>
	<input id='save' class='submit purp' type="submit" value='Save'>
</form>

<a id='another' class='submit blue' href='/countdown'>Another Workout</a>
<a id='done' class='submit red' href='/access'>Done</a>

<div id="lightbox"></div>
