<img id='strong' src='/fitness_light.jpg'>

<div class='homeText'>
  <h2>Hello <%= @user.username %>, click below to start!</h2>
</div>
<br><br>

<p id="timmer" style='display: none'></p>

<a id='go' class='submit purp' href='/time'>Start</a>


<a id='start' style='display: none' class='submit blue' href="/countdown">Get Workout</a>

