<img id='strong' src='/fitness_light.jpg'>

<div class='homeText'>
  <h2>Hello <%= @user.username %>, click below to start!</h2>
</div>
<br><br>

<p id="timmer" style='display: none'></p>

<a id='go' class='submit red'>Start</a>

<form id='time_change' action='/time' method='post'>
	  <input type="text" name="time" placeholder="countdown"></input>
	  <input class='submit' type="submit" value="Change">
</form>


<script>
time = 30

$('#time_change').submit(function(e){
	e.preventDefault()

	$.ajax({
		url: $(e.target).attr('action'),
		method: $(e.target).attr('method'),
		data: $(e.target).serialize()
	}).done(function(response){
		 time = response
	})
})



document.getElementById('go').addEventListener('click', function(){
	$('#go').hide()
	$('#timmer').fadeIn('slow')
	$('.homeText h2').text('Your time has begun!')

console.log(time)



	var countdown = 30 * 60 * 1000;
	var timerId = setInterval(function(){
	  countdown -= 1000;
	  var min = Math.floor(countdown / (60 * 1000));
	  //var sec = Math.floor(countdown - (min * 60 * 1000));  // wrong
	  var sec = Math.floor((countdown - (min * 60 * 1000)) / 1000);  //correct

	  // Display the result in the element with id="timmer"
	  if (min.toString().length < 2) {
	  	min = '0' + min
	  }

	  if (sec.toString().length < 2) {
	  	sec = '0' + sec
	  }
	  document.getElementById("timmer").innerHTML = min + "m " + sec + "s ";

	  // If the count down is finished, write some text 
	  if (countdown < 0) {
	    clearInterval(timerId);
	    var sound = new Audio('/airHorn.mp3');
        sound.play();
	    $('#start').fadeIn('slow')
	    $('#timmer').hide()


	    // document.getElementById("start").show()
	  }
	}, 1000);
})
</script>

<a id='start' style='display: none' class='submit blue' href="/countdown">Get Workout</a>

