<img id='strong' src='/fitness_light.jpg'>

<div class='homeText'>
  <h2>Hello <%= @user.username %>, click below to start!</h2>
</div>
<br><br>

<p id="timmer" style='display: none'></p>

<a id='go' class='submit red'>Start</a>


<script>
document.getElementById('go').addEventListener('click', function(){
	$('#go').hide()
	$('#timmer').fadeIn('slow')
	$('.homeText h2').text('Your time has begun!')


	var countdown = 1 * 60 * 1000;
	var timerId = setInterval(function(){
	  countdown -= 10000;
	  var min = Math.floor(countdown / (60 * 1000));
	  //var sec = Math.floor(countdown - (min * 60 * 1000));  // wrong
	  var sec = Math.floor((countdown - (min * 60 * 1000)) / 1000);  //correct

	  // Display the result in the element with id="timmer"
	  if (min.toString().length < 2) {
	  	min = '0' + min
	  }

	  if (sec.toString().length < 2) {
	  	sec = '0' + sec
	  }
	  document.getElementById("timmer").innerHTML = min + "m " + sec + "s ";

	  // If the count down is finished, write some text 
	  if (countdown < 0) {
	    clearInterval(timerId);
	    var sound = new Audio('/airHorn.mp3');
        sound.play();
	    $('#start').fadeIn('slow')
	    $('#timmer').hide()


	    // document.getElementById("start").show()
	  }
	}, 1000);
})
</script>

<a id='start' style='display: none' class='submit blue' href="/countdown">Get Workout</a>

