<img id='strong' src='/fitness_light.jpg'>

<div class='homeText'>
  <h2>Hello <%= @user.username %>, click below to start!</h2>
</div>
<br><br>
<a id='start' class='submit blue' href="/countdown">Get Workout</a>

